.home-container {
    display: flex;
}

.game-card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 30px;
}

.order-by {
    margin-top: 20px;
    margin-left: 10px;
}

.filters {
    margin-right: 30px;
    border-right: 1px solid rgba(255, 255, 255, 0.282);
    padding-right: 50px;
    padding-top: 20px;
}

.searchbar {
    width: 200px;
    height: 30px;
    border-radius: 20px;
    padding: 10px 15px;
}

.cat-header {
    display: flex;
    justify-content: space-between;
}

.reset-button {
    background-color: transparent;
    color: white;
    border-color: transparent;
    font-size: 1rem;
}

.cat-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}

.cat-button {
    font-size: 1rem;
    padding: 5px 10px;
}