

.game-card {
    background-color: #1e293b;
    color: #cbd5e1;
    border-radius: 10px;
    padding: 10px 15px;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;

    width: 250px;
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 15px rgba(100, 150, 200, 0.3);
}

.game-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
    margin-right: 20px;
}

.game-category {
    font-size: 0.85rem;
    color: #94a3b8;
}

.fav-icon {
    font-size: 1.5rem;
}